@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h3> Book Deets </h3> 
<hr/>
<h3> @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<hr/>
<div class="box">
  @if(@Model.Authors.Count == 0 )
  {
    <p> No authors for this book...is it even really a book? </p>
  }
  else
  {
    <h4> Author(s):</h4>
    
    @foreach(var join in Model.Authors)
    {
      <h3>@join.Author.Name</h3>

      @using(Html.BeginForm("DeleteAuthor", "Books"))
      {
        @Html.Hidden("joinId", @join.AuthorBookId)
        <input class="btn" type="submit" value="Delete this book" />    
      }
    }
  }
</div>

<p>@Html.ActionLink("Checkout book", "Checkout", new {id = Model.BookId})</p>
<p>@Html.ActionLink("Add author", "AddAuthor", new {id = Model.BookId})</p>
<p>@Html.ActionLink("Edit this book", "Edit")</p>
