@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Edit</h2>

<h4>Edit this book: @Html.DisplayFor(model => model.Title)</h4>

<div class="box">
  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.BookId)

      @Html.LabelFor(model => model.Title)
      @Html.EditorFor(model => model.Title)<br>

      @Html.Label("Select author")
      @Html.DropDownList("AuthorId")<br>

      <input class="btn" type="submit" value="Save changes" />
  }
</div>

