@{
  Layout = "_Layout";
}
@model Library.Models.Author

<h2>Edit this Author: @Html.DisplayFor(model => model.Name)</h2>
<hr/>
<div class="box">
  @using (@Html.BeginForm())
  {
    @Html.HiddenFor(model => model.AuthorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)<br>

    <input class="btn" type="submit" value="Save" />
  }
</div>
